extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Checkout'
  - var breadcrumbs = [{'title': 'Shop', 'link': 'shop-grid-ls.html'}, {'title': 'Checkout'}]
  - var parentMenu = 'Shop'

//- Navbar
block navbar
  include partials/navbar-3-level-light

//- Page title
block page-title
  include partials/page-title-shop
  
//- Page Content
block content

  .container.pb-5.mb-2.mb-md-4
    .row

      section.col-lg-8

        // Steps
        .steps.steps-light.pt-2.pb-3.mb-5
          a(href='shop-cart.html').step-item.active
            .step-progress
              span.step-count 1
            .step-label
              i.czi-cart
              | Cart
          a(href='checkout-details.html').step-item.active.current
            .step-progress
              span.step-count 2
            .step-label
              i.czi-user-circle
              | Your details
          a(href='checkout-shipping.html').step-item
            .step-progress
              span.step-count 3
            .step-label
              i.czi-package
              | Shipping
          a(href='checkout-payment.html').step-item
            .step-progress
              span.step-count 4
            .step-label
              i.czi-card
              | Payment
          a(href='checkout-review.html').step-item
            .step-progress
              span.step-count 5
            .step-label
              i.czi-check-circle
              | Review

        // Autor info
        .d-sm-flex.justify-content-between.align-items-center.bg-secondary.p-4.rounded-lg.mb-grid-gutter
          .media.align-items-center
            .img-thumbnail.rounded-circle.position-relative(style='width: 6.375rem;')
              span(data-toggle='tooltip' title='Reward points').badge.badge-warning 384
              img(src='img/shop/account/avatar.jpg' alt='Susan Gardner').rounded-circle
            .media-body.pl-3
              h3.font-size-base.mb-0 Susan Gardner
              span.text-accent.font-size-sm s.gardner@example.com
          a(href='account-profile.html').btn.btn-light.btn-sm.btn-shadow.mt-3.mt-sm-0
            i.czi-edit.mr-2
            | Edit profile
        
        // Shipping address
        h2.h6.pt-1.pb-3.mb-3.border-bottom Shipping address
        .row
          .col-sm-6
            .form-group
              label(for='checkout-fn') First Name
              input(type='text')#checkout-fn.form-control
          .col-sm-6
            .form-group
              label(for='checkout-ln') Last Name
              input(type='text')#checkout-ln.form-control
        .row
          .col-sm-6
            .form-group
              label(for='checkout-email') E-mail Address
              input(type='email')#checkout-email.form-control
          .col-sm-6
            .form-group
              label(for='checkout-phone') Phone Number
              input(type='text')#checkout-phone.form-control
        .row
          .col-sm-6
            .form-group
              label(for='checkout-company') Company
              input(type='text')#checkout-company.form-control
          .col-sm-6
            .form-group
              label(for='checkout-country') Country
              select#checkout-country.form-control.custom-select
                option Choose country
                option Australia
                option Canada
                option France
                option Germany
                option Switzerland
                option USA
        .row
          .col-sm-6
            .form-group
              label(for='checkout-city') Country
              select#checkout-city.form-control.custom-select
                option Choose city
                option Amsterdam
                option Berlin
                option Geneve
                option New York
                option Paris
          .col-sm-6
            .form-group
              label(for='checkout-zip') ZIP Code
              input(type='text')#checkout-zip.form-control
        .row
          .col-sm-6
            .form-group
              label(for='checkout-address-1') Address 1
              input(type='text')#checkout-address-1.form-control
          .col-sm-6
            .form-group
              label(for='checkout-address-2') Address 2
              input(type='text')#checkout-address-2.form-control

        h6.mb-3.py-3.border-bottom Billing address
        .custom-control.custom-checkbox
          input(type='checkbox' checked)#same-address.custom-control-input
          label(for='same-address').custom-control-label Same as shipping address

        // Navigation (desktop)
        .d-none.d-lg-flex.pt-4.mt-3
          .w-50.pr-3
            a(href='shop-cart.html').btn.btn-secondary.btn-block
              i.czi-arrow-left.mt-sm-0.mr-1
              span.d-none.d-sm-inline Back to Cart
              span.d-inline.d-sm-none Back
          .w-50.pl-2
            a(href='checkout-shipping.html').btn.btn-primary.btn-block
              span.d-none.d-sm-inline Proceed to Shipping
              span.d-inline.d-sm-none Next
              i.czi-arrow-right.mt-sm-0.ml-1
          
      // Sidebar
      aside.col-lg-4.pt-4.pt-lg-0
        //- sidebar-checkout.pug template
        include partials/sidebar-checkout
        
    // Navigation (mobile)
    .row.d-lg-none
      .col-lg-8
        .d-flex.pt-4.mt-3
          .w-50.pr-3
            a(href='shop-cart.html').btn.btn-secondary.btn-block
              i.czi-arrow-left.mt-sm-0.mr-1
              span.d-none.d-sm-inline Back to Cart
              span.d-inline.d-sm-none Back
          .w-50.pl-2
            a(href='checkout-shipping.html').btn.btn-primary.btn-block
              span.d-none.d-sm-inline Proceed to Shipping
              span.d-inline.d-sm-none Next
              i.czi-arrow-right.mt-sm-0.ml-1

//- Footer
block footer
  include partials/footer-dark
