//- Include config.pug file that holds all variables
block config
  include ../helpers/config

//- Mixins - reusable code snippets
include ../helpers/mixins

doctype html
html(lang="en")

  //- head.pug template
  include head 
  
  // Body
  body()&attributes(isToolbar ? {'class': 'toolbar-enabled'} : '')
      
    //- modal-signin.pug template
    include modal-signin

    // Navbar
    block navbar

    // Page title
    block page-title

    // Page Content
    block content

    // Footer
    block footer

    // Toolbar for handheld devices
    if isToolbar
      .cz-handheld-toolbar
        .d-table.table-fixed.w-100
          if isOffcanvasSidebar === 'shop'
            a(href='#shop-sidebar' data-toggle='sidebar').d-table-cell.cz-handheld-toolbar-item
              span.cz-handheld-toolbar-icon: i.czi-filter-alt
              span.cz-handheld-toolbar-label Filters
          if isOffcanvasSidebar === 'blog'
            a(href='#blog-sidebar' data-toggle='sidebar').d-table-cell.cz-handheld-toolbar-item
              span.cz-handheld-toolbar-icon: i.czi-sign-in
              span.cz-handheld-toolbar-label Sidebar
          if isOffcanvasSidebar === 'help'
            a(href='#help-sidebar' data-toggle='sidebar').d-table-cell.cz-handheld-toolbar-item
              span.cz-handheld-toolbar-icon: i.czi-sign-in
              span.cz-handheld-toolbar-label Sidebar
          if pageTitle === 'Single Product / Brand Store'
            a(href='#signin-modal' data-toggle='modal').d-table-cell.cz-handheld-toolbar-item
              span.cz-handheld-toolbar-icon: i.czi-user
              span.cz-handheld-toolbar-label Account
            a(href='#navbarCollapse' data-toggle='collapse' onclick='window.scrollTo(0, 0)').d-table-cell.cz-handheld-toolbar-item
              span.cz-handheld-toolbar-icon: i.czi-menu
              span.cz-handheld-toolbar-label Menu
            a(href='#').d-table-cell.cz-handheld-toolbar-item
              span.cz-handheld-toolbar-icon
                i.czi-cart
              span.cz-handheld-toolbar-label $0.00
          if isFoodDelivery
            a(href='#signin-modal' data-toggle='modal').d-table-cell.cz-handheld-toolbar-item
              span.cz-handheld-toolbar-icon: i.czi-user
              span.cz-handheld-toolbar-label Account
            a(href='#navbarCollapse' data-toggle='collapse' onclick='window.scrollTo(0, 0)').d-table-cell.cz-handheld-toolbar-item
              span.cz-handheld-toolbar-icon: i.czi-menu
              span.cz-handheld-toolbar-label Menu
            a(href='food-delivery-cart.html').d-table-cell.cz-handheld-toolbar-item
              span.cz-handheld-toolbar-icon
                i.czi-cart
                span.badge.badge-primary.badge-pill.ml-1 3
              span.cz-handheld-toolbar-label $24.00
          else
            a(href='account-wishlist.html').d-table-cell.cz-handheld-toolbar-item
              span.cz-handheld-toolbar-icon: i.czi-heart
              span.cz-handheld-toolbar-label Wishlist
            a(href='#navbarCollapse' data-toggle='collapse' onclick='window.scrollTo(0, 0)').d-table-cell.cz-handheld-toolbar-item
              span.cz-handheld-toolbar-icon: i.czi-menu
              span.cz-handheld-toolbar-label Menu
            a(href='shop-cart.html').d-table-cell.cz-handheld-toolbar-item
              span.cz-handheld-toolbar-icon
                i.czi-cart
                span.badge.badge-primary.badge-pill.ml-1 4
              span.cz-handheld-toolbar-label $265.00

    // Back To Top Button
    a(href='#top' data-scroll).btn-scroll-top
      span.btn-scroll-top-tooltip.text-muted.font-size-sm.mr-2 Top
      i.btn-scroll-top-icon.czi-arrow-up    
    
    // Vendor scrits: js libraries and plugins
    +vendor-scripts

    // Main theme script
    script()&attributes(isNestedFile ? {'src': '../js/theme.min.js'} : {'src': 'js/theme.min.js'})
