// Order Details Modal
#order-details.modal.fade
  .modal-dialog.modal-lg.modal-dialog-scrollable
    .modal-content
      .modal-header
        h5.modal-title Order No - 34VB5540K83
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0

        // Item
        .d-sm-flex.justify-content-between.mb-4.pb-3.pb-sm-2.border-bottom
          .media.d-block.d-sm-flex.text-center.text-sm-left
            a(href='shop-single-v1.html' style='width: 10rem;').d-inline-block.mx-auto.mr-sm-4
              img(src='img/shop/cart/01.jpg' alt='Product')
            .media-body.pt-2
              h3.product-title.font-size-base.mb-2
                a(href='shop-single-v1.html') Women Colorblock Sneakers
              .font-size-sm
                span.text-muted.mr-2 Size:
                | 8.5
              .font-size-sm
                span.text-muted.mr-2 Color:
                | White &amp; Blue
              .font-size-lg.text-accent.pt-2 $154.<small>00</small>
          .pt-2.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-2 Quantity:
            | 1
          .pt-2.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-2 Subtotal
            | $154.<small>00</small>

        // Item
        .d-sm-flex.justify-content-between.my-4.pb-3.pb-sm-2.border-bottom
          .media.d-block.d-sm-flex.text-center.text-sm-left
            a(href='shop-single-v1.html' style='width: 10rem;').d-inline-block.mx-auto.mr-sm-4
              img(src='img/shop/cart/02.jpg' alt='Product')
            .media-body.pt-2
              h3.product-title.font-size-base.mb-2
                a(href='shop-single-v1.html') TH Jeans City Backpack
              .font-size-sm
                span.text-muted.mr-2 Brand:
                | Tommy Hilfiger
              .font-size-sm
                span.text-muted.mr-2 Color:
                | Khaki
              .font-size-lg.text-accent.pt-2 $79.<small>50</small>
          .pt-2.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-2 Quantity:
            | 1
          .pt-2.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-2 Subtotal
            | $79.<small>50</small>

        // Item
        .d-sm-flex.justify-content-between.my-4.pb-3.pb-sm-2.border-bottom
          .media.d-block.d-sm-flex.text-center.text-sm-left
            a(href='shop-single-v1.html' style='width: 10rem;').d-inline-block.mx-auto.mr-sm-4
              img(src='img/shop/cart/03.jpg' alt='Product')
            .media-body.pt-2
              h3.product-title.font-size-base.mb-2
                a(href='shop-single-v1.html') 3-Color Sun Stash Hat
              .font-size-sm
                span.text-muted.mr-2 Brand:
                | The North Face
              .font-size-sm
                span.text-muted.mr-2 Color:
                | Pink / Beige / Dark blue
              .font-size-lg.text-accent.pt-2 $22.<small>50</small>
          .pt-2.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-2 Quantity:
            | 1
          .pt-2.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-2 Subtotal
            | $22.<small>50</small>

        // Item
        .d-sm-flex.justify-content-between.my-4
          .media.d-block.d-sm-flex.text-center.text-sm-left
            a(href='shop-single-v1.html' style='width: 10rem;').d-inline-block.mx-auto.mr-sm-4
              img(src='img/shop/cart/04.jpg' alt='Product')
            .media-body.pt-2
              h3.product-title.font-size-base.mb-2
                a(href='shop-single-v1.html') Cotton Polo Regular Fit
              .font-size-sm
                span.text-muted.mr-2 Size:
                | 42
              .font-size-sm
                span.text-muted.mr-2 Color:
                | Light blue
              .font-size-lg.text-accent.pt-2 $9.<small>00</small>
          .pt-2.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-2 Quantity:
            | 1
          .pt-2.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-2 Subtotal
            | $9.<small>00</small>
    
      // Footer
      .modal-footer.flex-wrap.justify-content-between.bg-secondary.font-size-md
        .px-2.py-1
          span.text-muted Subtotal:&nbsp;
          span $265.<small>00</small>
        .px-2.py-1
          span.text-muted Shipping:&nbsp;
          span $22.<small>50</small>
        .px-2.py-1
          span.text-muted Tax:&nbsp;
          span $9.<small>50</small>
        .px-2.py-1
          span.text-muted Total:&nbsp;
          span.font-size-lg $297.<small>00</small>