// Sidebar
#blog-sidebar.cz-sidebar.border-left.ml-lg-auto
  .cz-sidebar-header.box-shadow-sm
    button(type='button' class='close ml-auto' data-dismiss='sidebar' aria-label='Close')
      span.d-inline-block.font-size-xs.font-weight-normal.align-middle Close sidebar
      span(aria-hidden='true').d-inline-block.align-middle.ml-2 &times;

  .cz-sidebar-body.py-lg-1(data-simplebar data-simplebar-auto-hide='true')

    // Categories
    .widget.widget-links.mb-grid-gutter.pb-grid-gutter.border-bottom
      h3.widget-title Blog categories
      ul.widget-list
        li.widget-list-item
          a(href='#').widget-list-link.d-flex.justify-content-between.align-items-center
            span Online shopping
            span.font-size-xs.text-muted.ml-3 18
        li.widget-list-item
          a(href='#').widget-list-link.d-flex.justify-content-between.align-items-center
            span Fashion
            span.font-size-xs.text-muted.ml-3 25
        li.widget-list-item
          a(href='#').widget-list-link.d-flex.justify-content-between.align-items-center
            span Personal finance
            span.font-size-xs.text-muted.ml-3 13
        li.widget-list-item
          a(href='#').widget-list-link.d-flex.justify-content-between.align-items-center
            span Travel &amp; vacation
            span.font-size-xs.text-muted.ml-3 7
        li.widget-list-item
          a(href='#').widget-list-link.d-flex.justify-content-between.align-items-center
            span Lifestyle
            span.font-size-xs.text-muted.ml-3 34
        li.widget-list-item
          a(href='#').widget-list-link.d-flex.justify-content-between.align-items-center
            span Technology
            span.font-size-xs.text-muted.ml-3 6

    // Trending posts
    .widget.mb-grid-gutter.pb-grid-gutter.border-bottom
      h3.widget-title Trending posts
      .media.align-items-center.mb-3
        a(href='blog-single.html')
          img(src='img/blog/widget/01.jpg' width='64' alt='Post image').rounded
        .media-body.pl-3
          h6.blog-entry-title.font-size-sm.mb-0
            a(href='blog-single.html') Retro Cameras are Trending. Why so Popular?
          span.font-size-ms.text-muted
            | by <a href='#' class='blog-entry-meta-link'>Andy Williams</a>
      .media.align-items-center.mb-3
        a(href='blog-single.html')
          img(src='img/blog/widget/02.jpg' width='64' alt='Post image').rounded
        .media-body.pl-3
          h6.blog-entry-title.font-size-sm.mb-0
            a(href='blog-single.html') New Trends in Suburban Fashion
          span.font-size-ms.text-muted
            | by <a href='#' class='blog-entry-meta-link'>Susan Mayer</a>
      .media.align-items-center
        a(href='blog-single.html')
          img(src='img/blog/widget/03.jpg' width='64' alt='Post image').rounded
        .media-body.pl-3
          h6.blog-entry-title.font-size-sm.mb-0
            a(href='blog-single.html') Augmented Reality - Game Changing Technology
          span.font-size-ms.text-muted
            | by <a href='#' class='blog-entry-meta-link'>John Doe</a>

    // Popular tags
    .widget.mb-grid-gutter
      h3.widget-title Popular tags
      a(href='#').btn-tag.mr-2.mb-2 #fashion
      a(href='#').btn-tag.mr-2.mb-2 #gadgets
      a(href='#').btn-tag.mr-2.mb-2 #online shopping
      a(href='#').btn-tag.mr-2.mb-2 #top brands
      a(href='#').btn-tag.mr-2.mb-2 #travel
      a(href='#').btn-tag.mr-2.mb-2 #cartzilla news
      a(href='#').btn-tag.mr-2.mb-2 #personal finance
      a(href='#').btn-tag.mr-2.mb-2 #tips &amp; tricks

    // Promo banner
    .bg-size-cover.bg-position-center.rounded-lg.py-5(style='background-image: url(img/blog/banner-bg.jpg);')
      .py-5.px-4.text-center
        h5.mb-2 Your Add Banner Here
        p.font-size-sm.text-muted Hurry up to reserve your spot
        a(href='#').btn.btn-primary.btn-shadow.btn-sm Contact us
