// Related articles sidebar
#help-sidebar.cz-sidebar.border-right
  .cz-sidebar-header.box-shadow-sm
    button(type='button' class='close ml-auto' data-dismiss='sidebar' aria-label='Close')
      span.d-inline-block.font-size-xs.font-weight-normal.align-middle Close sidebar
      span(aria-hidden='true').d-inline-block.align-middle.ml-2 &times;

  .cz-sidebar-body.py-lg-1.pl-lg-0(data-simplebar data-simplebar-auto-hide='true')

    // Links
    .widget.widget-links
      h3.widget-title Related articles
      ul.widget-list
        li.widget-list-item
          a(href='#').widget-list-link
            i.czi-book.text-muted.align-middle.mt-n1.mr-1
            | Managing account
        li.widget-list-item
          a(href='#').widget-list-link
            i.czi-book.text-muted.align-middle.mt-n1.mr-1
            | Working with dashboard
        li.widget-list-item
          a(href='#').widget-list-link
            i.czi-book.text-muted.align-middle.mt-n1.mr-1
            | Available payment methods
        li.widget-list-item
          a(href='#').widget-list-link
            i.czi-book.text-muted.align-middle.mt-n1.mr-1
            | Delivery information
        li.widget-list-item
          a(href='#').widget-list-link
            i.czi-book.text-muted.align-middle.mt-n1.mr-1
            | Order tracking instructions
        li.widget-list-item
          a(href='#').widget-list-link
            i.czi-book.text-muted.align-middle.mt-n1.mr-1
            | Refund policy
        li.widget-list-item
          a(href='#').widget-list-link
            i.czi-book.text-muted.align-middle.mt-n1.mr-1
            | Offers and discounts
        li.widget-list-item
          a(href='#').widget-list-link
            i.czi-book.text-muted.align-middle.mt-n1.mr-1
            | Reward points
        li.widget-list-item
          a(href='#').widget-list-link
            i.czi-book.text-muted.align-middle.mt-n1.mr-1
            | Affiliate program
        li.widget-list-item
          a(href='#').widget-list-link
            i.czi-book.text-muted.align-middle.mt-n1.mr-1
            | After purchase support
        li.widget-list-item
          a(href='#').widget-list-link
            i.czi-book.text-muted.align-middle.mt-n1.mr-1
            | Service terms &amp; conditions
        li.widget-list-item
          a(href='#').widget-list-link
            i.czi-book.text-muted.align-middle.mt-n1.mr-1
            | Most popular questions
