extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Icon font'
  - var pageSubtitle = 'Collection of vector icons in the format of font. To add icon simply apply css class listed under each icon to <code>&lt;i&gt;</code> tag.'
  - var isPageTitleBadge = true
  
//- Page Content
block content

  // Dark (default) version
  section#icons-dark.pb-5.mb-md-2
    .card.border-0.box-shadow
      .card-body.text-center
        .row
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-add-circle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-add-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-add-document
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-add-document
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-add-location
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-add-location
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-add
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-add
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-add-user
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-add-user
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-announcement
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-announcement
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-arrow-down-circle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-arrow-down-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-arrow-down
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-arrow-down
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-arrow-left-circle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-arrow-left-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-arrow-left
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-arrow-left
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-arrow-right-circle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-arrow-right-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-arrow-right
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-arrow-right
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-arrow-up-circle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-arrow-up-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-arrow-up
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-arrow-up
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-arrows-horizontal
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-arrows-horizontal
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-arrows-vertical
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-arrows-vertical
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-bag
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-bag
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-basket
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-basket
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-behance
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-behance
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-bell
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-bell
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-bluetooth
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-bluetooth
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-bluetooth-circle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-bluetooth-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-battery
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-battery
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-book
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-book
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-bookmark
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-bookmark
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-briefcase
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-briefcase
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-calculator
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-calculator
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-camera
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-camera
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-card
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-card
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-cart
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-cart
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-chat
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-chat
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-check-circle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-check-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-check
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-check
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-clip
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-clip
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-close-circle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-close-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-close
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-close
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-cloud-check
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-cloud-check
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-cloud-download
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-cloud-download
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-cloud-upload
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-cloud-upload
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-cloud
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-cloud
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-coin
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-coin
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-coins
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-coins
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-compare
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-compare
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-currency-exchange
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-currency-exchange
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-delete-document
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-delete-document
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-delete-folder
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-delete-folder
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-delete-location
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-delete-location
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-delivery
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-delivery
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-diamond
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-diamond
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-document-alt
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-document-alt
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-document
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-document
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-dollar-circle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-dollar-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-dollar
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-dollar
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-download
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-download
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-dribbble
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-dribbble
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-earphones
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-earphones
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-edit-alt
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-edit-alt
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-edit
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-edit
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-euro-circle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-euro-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-euro
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-euro
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-exit-full-screen
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-exit-full-screen
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-eye
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-eye
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-facebook
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-facebook
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-filter-alt
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-filter-alt
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-filter
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-filter
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-flag
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-flag
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-folder
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-folder
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-forward
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-forward
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-full-screen
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-full-screen
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-gift
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-gift
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-globe
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-globe
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-google
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-google
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-hangouts
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-hangouts
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-heart-circle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-heart-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-heart
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-heart
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-help
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-help
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-home
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-home
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-idea
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-idea
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-image
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-image
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-increase
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-increase
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-instagram
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-instagram
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-joystick
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-joystick
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-key
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-key
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-lable
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-lable
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-laptop
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-laptop
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-lightning
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-lightning
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-link
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-link
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-linkedin
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-linkedin
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-list
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-list
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-loading
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-loading
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-location
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-location
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-locked
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-locked
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-loudspeaker
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-loudspeaker
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-mail
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-mail
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-map
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-map
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-menu-circle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-menu-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-menu
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-menu
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-message
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-message
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-messenger
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-messenger
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-mobile
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-mobile
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-money-bag
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-money-bag
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-money-box
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-money-box
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-monitor
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-monitor
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-moon
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-moon
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-music
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-music
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-navigation
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-navigation
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-odnoklassniki
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-odnoklassniki
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-package
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-package
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-percent
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-percent
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-phone
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-phone
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-pinterest
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-pinterest
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-plane
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-plane
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-play-circle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-play-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-play
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-play
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-printer
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-printer
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-reduce
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-reduce
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-reload
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-reload
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-remove-document
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-remove-document
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-remove-folder
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-remove-folder
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-reply
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-reply
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-rocket
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-rocket
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-ruler
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-ruler
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-scroll
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-scroll
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-search
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-search
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-security-announcement
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-security-announcement
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-security-check
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-security-check
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-security-close
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-security-close
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-security-prohibition
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-security-prohibition
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-send
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-send
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-server-alt
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-server-alt
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-server
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-server
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-settings
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-settings
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-share-alt
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-share-alt
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-share
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-share
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-sign-in
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-sign-in
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-sign-out
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-sign-out
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-skype
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-skype
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-smile
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-smile
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-speaker
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-speaker
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-star-filled
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-star-filled
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-star
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-star
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-sun
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-sun
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-support
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-support
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-target
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-target
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-telegram
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-telegram
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-thumb-up
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-thumb-up
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-time
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-time
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-trash
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-trash
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-tumblr
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-tumblr
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-turn-off
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-turn-off
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-twitter
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-twitter
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-unlocked
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-unlocked
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-upload
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-upload
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-user-circle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-user-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-user
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-user
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-viber
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-viber
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-video
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-video
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-view-grid
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-view-grid
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-view-list
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-view-list
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-vimeo
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-vimeo
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-vk
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-vk
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-wallet
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-wallet
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-watch
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-watch
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-weather
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-weather
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-wechat
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-wechat
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-youtube-outline
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-youtube-outline
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-youtube
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-youtube
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-caret
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-caret
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-paypal
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-paypal
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-wash
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-wash
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-bleach
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-bleach
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-hand-wash
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-hand-wash
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-ironing
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-ironing
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-sound-waves
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-sound-waves
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-paprika
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-paprika
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-chili
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-chili
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-canned-food
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-canned-food
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-toothbrush
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-toothbrush
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-pumpkin
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-pumpkin
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-orange
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-orange
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-broccoli
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-broccoli
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-sauce
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-sauce
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-soap
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-soap
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-toilet-paper
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-toilet-paper
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-lemon
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-lemon
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-bread
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-bread
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-jam
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-jam
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-fish
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-fish
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-wine
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-wine
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-truck
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-truck
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-tag
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-tag
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-eggs
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-eggs
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-store
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-store
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-ham-leg
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-ham-leg
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-discount
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-discount
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-open
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-open
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-juice
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-juice
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-cheese
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-cheese
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-milk
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-milk
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-cashier
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-cashier
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-avocado
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-avocado
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-apple
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-apple
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-pizza
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-pizza
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-scale
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-scale
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-ice-cream
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-ice-cream
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-water-bottle
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-water-bottle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-carrot
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-carrot
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-basket-alt
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-basket-alt
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-corn
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-corn
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-frozen
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-frozen
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-lollipop
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-lollipop
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.czi-pot
            .border-top.border-bottom.mt-1.py-1.font-size-sm.text-muted czi-pot
